<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Cat Food</title>
	<link rel="icon" type="image/png" href="{{ favi }}"/>
  </head>
  <body>
  <div class="container-fluid">
	  
	
	<div class="row sticky-top bg-light border-bottom border-3">
		<div class="col-2">
		  <h3 class="text-center">Food</h3>
		  <br>
		  <h5>Category</h5>
		</div>
	  {% for name in data.keys() %}
	    <div class="col">
		  <h3>{{ name[:15] }}...</h3>
		    <h5 class="text-success"> ${{ "{0:.2f}".format(data[name].price) }} per pound</h5>
		</div>
	  {% endfor %}
    </div>
<hr>	    
	<div class="row">
		<div class="col-2">
		  <h4>Meat/Protein<h4>
		</div>
	  {% for name in data.keys() %}
	    <div class="col border-start">
		  {% for item in data[name].categories['proteins'] %}
		    <ul><li class="fw-bold">{{ item|safe }}</li></ul>
		  {% endfor %}
		</div>
	  {% endfor %}
    </div>    
<hr>	
	<div class="row">
		<div class="col-2">
		  <h4>Plants/Oils<h4>
		</div>
	  {% for name in data.keys() %}
	    <div class="col border-start">
		  {% for item in data[name].categories['plants_oils'] %}
		    <ul><li class="fw-bold">{{ item|safe }}</li></ul>
		  {% endfor %}
		</div>
	  {% endfor %}
    </div>
<hr>
	<div class="row">
		<div class="col-2">
		  <h4>Vitamins<h4>
		</div>
	  {% for name in data.keys() %}
	    <div class="col border-start">
		  {% for item in data[name].categories['vitamins']|unique %}
		    <ul><li class="fw-bold">{{ item|safe }}</li></ul>
		  {% endfor %}
		</div>
	  {% endfor %}
    </div>  	
<hr>
	<div class="row">
		<div class="col-2">
		  <h4>Nutrients<h4>
		</div>
	  {% for name in data.keys() %}
	    <div class="col border-start">
		  {% for item in data[name].categories['nutrients'] %}
		    <ul><li class="fw-bold">
			  {{ item|safe }}
			  <a class="fw-normal" href="https://en.wikipedia.org/wiki/{{ item.replace(' ','_').capitalize() }}"> wiki</a>
			</li></ul>
		  {% endfor %}
		</div>
	  {% endfor %}
    </div>  
<hr>
	<div class="row">
		<div class="col-2">
		  <h4>Biotics<h4>
		</div>
	  {% for name in data.keys() %}
	    <div class="col border-start">
		  {% for item in data[name].categories['biotics'] %}
		    <ul><li class="fw-bold">{{ item|safe }}</li></ul>
		  {% endfor %}
		</div>
	  {% endfor %}
    </div>  
<hr>
	<div class="row">
		<div class="col-2">
		  <h4>Other<h4>
		</div>
	  {% for name in data.keys() %}
	    <div class="col border-start">
		  {% for item in data[name].categories['others'] %}
		    <ul><li class="fw-bold">{{ item|safe }}</li></ul>
		  {% endfor %}
		</div>
	  {% endfor %}
    </div>  	
<hr>  
  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	
  </body>
</html>